.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___root .fighter-preview___img {
  height: 300px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___right img {
  transform: scale(-1, 1);
}

.fighter-property {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.fighter-property strong {
  text-transform: capitalize;
  padding-right: 10px;
}
